# Playwright reports & artifacts
playwright-report/
test-results/
.last-run.json

# Playwright traces & blobs
blob-report/
trace.zip
*.trace.zip
*.zip

# Playwright screenshots & videos
screenshots/
videos/

# Playwright cache
playwright/.cache/

# Node dependencies
node_modules/
