# Cypress folders
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific folders
.vscode/

# Temporary files
*.swp
*.swo

# Environment variable files (optional, if used)
.env
.env.local
.env.*

# Coverage reports (optional, if using code coverage tools)
coverage/
